.section {
    display: flex;
    justify-content: space-around;

}

.anime-card {
    width: 500px;
}

}
.divs {
    padding: 20px;
}
.hidden {
    display: none;
}
.favourite-card{
    background-color: plum;
}
.title-anime-card {
    color: rgb(95, 41, 95);
}